<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="Ex: Duleesha">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Ex: Gamalthge">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex: test@gmail.com">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> 
    </div>
    <div class="row">
        <mat-radio-group aria-label="Select an option">
            <mat-label>Gender</mat-label>
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="other">Other</mat-radio-button>
          </mat-radio-group>          
    </div>
    <div class="row">
        <!-- <h4>Education</h4> -->
        <mat-form-field>
            <mat-label>Education</mat-label>
            <mat-select>
                <mat-option *ngFor="let val of education" [value]="val">
                    {{val}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Company</mat-label>
            <input matInput type="text" placeholder="Ex: Google">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input matInput type="text" placeholder="Ex: 4" type="number">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Packege</mat-label>
            <input matInput type="text" placeholder="Ex: 12" type="number">
            <mat-hint>in rupees</mat-hint>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-action class="action">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary">Save</button>
</div>